<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fristPage.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Zoo</title>
</head>
<body>
    <a href="/IFREG">
    <figure class="swap-on-hover">
        <img class="swap-on-hover__front-image" src="/static/images/fristPage-CLOSE0.gif" width="1920" height="1080">
        <img class="swap-on-hover__back-image" src="/static/images/fristPage-OPEN0.gif" width="1920" height="1080">
    </figure>
    </a>   
</body>
</html>



